.container {
  width: 100vw;
  height: 100vh;
  background: rgb(229, 229, 238);
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-container {
  display: flex;
  align-items: center;
}
